*{
    margin: 0; padding: 0
}

body{
    background: #000;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2FYHSuCPt.jpg&f=1&nofb=1') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

body, html{
    height: 100%;

}

canvas{
    display: block;
    position: absolute;
    z-index: -1;
}


/* Defaults */

.topmost{
    z-index: 100;
}

/* Header nav */
#navbaruwu{
   
    z-index: 9;

}

header nav{
    overflow:hidden;
    position: absolute;
    left: 0px;
    bottom: 0px; 
    text-align: center;
    background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

header nav li{
    list-style: none;
    display: inline;
    padding: 0px 0px 0px 10px;
    margin-left: 0%;
}

.imageli{
    padding: 10px 4% 0px 4%;
    border-left: solid black 2px;
    
}

    .home{
        width: 8%;
        border-left: none;
    }

    .social{
        width: 6%;
    }

    .comments{
        width: 8%;
    }

    .help{
        width: 7%;
    }

/* Windows */
.window{
    position: absolute;
}

.title-bar{
    cursor: move;
}

/* main window */
#main-window{
    width: 50%;
    overflow: auto;
    z-index: 2;  
    position: absolute; 
    min-width: 600px;
}

#mood{
    width: 500px;
    float: left;
}

#lista{
    float: right;
    width: 300px;
    overflow-y: scroll;
    margin: 20px;
    height: 193px;
}

#tab-A{
    height: 50%px;
}

.Profile{
    border: solid rgb(141, 141, 141) 2px;
    width: 20%;
    padding: 0px;
    margin: 1px 5px 5px 5px;
    float: right;
}

section{
    font-size: 120%;
    margin: 10px;
    height: 50%px;
}

.field-row{
    width: 200px;
}

/* Help window */

#help-window{
    width: 300px;
    z-index: 9;
    background: url('/svg/android-logo.svg') repeat-x;
   
}

/* Button */

.homebtn{
    color: whitesmoke
    ;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    border-radius: 0px 8% 8% 0px/ 0px 48% 48% 0px ;
    background: none;
    background-color: greenyellow !important;
    box-shadow: 0px 0px 87px -16px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 87px -16px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 87px -16px rgba(0,0,0,0.75) inset}

.homebtn img{
    height: 100%;
    margin-right: 10px;
}


.start-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
}

.tiny-icon{

height: 20px;
width: 20px !important;
min-width: 0px !important;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
margin-left: 5px;
background-color:transparent !important;
border: none;
background: none;
cursor: pointer;

}

.tiny-icon:hover{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background-color: #003dd7 !important;
}

.tiny-icon:active{
    outline: none !important;
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    background-color: #326bfa !important;
}

.tiny-icon img{
    height: 100%;

}

/* Deep window */
#deep-window{
    min-width: 1000px;
    min-height: 600px;
    max-width: 1000px;
    max-height: 600px;
    overflow: none;
    background: url(/svg/pirata.svg) repeat-y 99%, url(/svg/pirata.svg) repeat-y 10px;
    background-size: 30px;
    background-color: #ece9d8;
    
}

#deep-window fieldset{
    margin: 0px 50px 0px 50px;
    background: url('/svg/marihuana.svg') repeat-x bottom;
    background-size: 30px;
    background-color: rgb(255, 255, 255);
}

#deep-window header p{
    font-size: 150%;
    margin: 20px 0px 0px 70px;
}

#deep-window legend{
    font-size: 130%;
}

#deep-window .deep-check{
    margin: 40px 0px 0px 10px;
}

#deep-window .tor-img{
    float: right;
    width: 15%;
    margin: 0px 30px 30px 5px;
}

#deep-window .onion-links p{
    font-size: 150%;

}

#deep-window .onion-links span{
    margin: -5px 0px 0px 0px;
}

#deep-window .final-text{
    margin: 20px 60px 0px 60px;
    width: 500px;
    height: 150px;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

#deep-window .form-msg{
    margin-right: 50px;
    width: 270px;
    float: right;
}

.form-msg .name{
    margin: 20px 0px 0px 14px;
    width: 300px;
}

.form-msg .post-boton{
    margin: 25px 0px 0px 22px;
}

.form-msg .textarea{
    resize: none;
    width: 200px;
    height: 80px;
    margin: 0px 0px 0px 55px;
}

.form-msg select{
    width: 100px;
    margin: 10px 0px 0px 55px;
}